# Combining & Exporting Data

# Contents
1. Import libraries
2. Check imported data
3. Merge dataframes
4. Export dataframe

# 1. Import libraries

In [5]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 2. Import datasets

In [7]:
#Define the project path as a string and assign to a variable called path
path = r'/Users/davidgriesel/Documents/0 - CareerFoundry/02 - Data Analytics Immersion/04 - Python Fundamentals for Data Analysts/Instacart Basket Analysis - IC 202409'

## 2.1. Orders cleaned

In [9]:
#Import orders_cleaned dataset
df_orders_cleaned = pd.read_csv(os.path.join(path, '02 - Data', 'Prepared Data', '05_orders_cleaned.csv'), index_col = 0)

## 2.2. Orders prior

In [11]:
#Import orders_prior dataset
df_orders_prior = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 3. Check imported data

## 3.1. Orders cleaned

In [14]:
#Get the dimensions of the dataframe
df_orders_cleaned.shape

(3421083, 7)

In [15]:
#Display the first 5 rows of the dataframe
df_orders_cleaned.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

## 3.2. Orders prior

In [17]:
#Get the dimensions of the dataframe
df_orders_prior.shape

(32434489, 4)

In [18]:
#Display the first 5 rows of the dataframe
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
df_orders_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

# 4. Merge dataframes

In [21]:
#Merge dataframes on 'order_id' using inner join and add a merge flag
df_orders_products_combined = df_orders_cleaned.merge(df_orders_prior, on = 'order_id', indicator = True)

In [22]:
#Check merge rate
df_orders_products_combined['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
#Get the dimensions of the merged dataframe
df_orders_products_combined.shape

(32434489, 11)

In [24]:
#Display the first 5 rows of the dataframe
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

# 5. Export dataframe

In [26]:
#Drop merge flag
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [27]:
#Get the dimensions of the merged dataframe
df_orders_products_combined.shape

(32434489, 10)

In [28]:
#Export merged dataframe
df_orders_products_combined.to_pickle(os.path.join(path, '02 - Data','Prepared Data', '06_orders_products_combined.pkl'))

# Task

## 1. Merge dataframes
If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

##### Refer: 4. Merge dataframes

## 2. Export merged file
Export the merged file in pickle format as “orders_products_combined.pkl”.

##### Refer: 5. Export dataframe